@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Orbit&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  font-size: 24px;
}
ul, li { list-style: none;}

#top * { font-family: 'Caveat', cursive; font-size: 2.5em;}
#top h1 { text-decoration: underline; text-decoration-color: #487fc7; text-decoration-thickness: 2px; text-underline-offset: 0.4rem;}

#mid { width: 60%; min-height: 30vh; margin: 0 auto; padding: 2rem; border-radius: 10px; box-shadow: 0 0 5px 1px #ccc; }
#mid * { font-family: 'Caveat', cursive; }
#mid #search { height: 13vh; display: flex; justify-content: center; align-items: center; gap: 1rem; border-bottom: 2px dashed #487fc7;}
#search label { letter-spacing: 2px; transform: translateY(5%);}
#search input { width: 50%; padding: 0.3rem; border: none; border-bottom: 1px solid #333; text-align: center; font-family: 'Orbit', sans-serif; font-size: 1rem;}

#result { min-height: 20vh; letter-spacing: 1px;}
#result p { margin: 0.5em;}
#result li {text-align: left; padding: 3px 0; }