@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Nanum+Pen+Script&family=Orbit&display=swap');
/* 
font-family: 'Caveat', cursive;
font-family: 'Nanum Pen Script', cursive;
font-family: 'Orbit', sans-serif;
 */

:root {
    --cBlue: #487fc7;
    --cCCC: #ccc;
    --Moon: url("./assets/moonDark.png")
}
:root .darkmode {
    --cBlue: #555;
    --cCCC: #444;
    --Moon: url("./assets/moonLight.png")
}

/* BASE */
* { box-sizing: border-box; } 
#root { max-width: 1280px; min-width: 1062px; min-height: 667px; margin: 0 auto; padding: 1rem; text-align: center; font-size: 30px; transition: all 0.3s ease; } 
#container { font-family: 'Nanum Pen Script', 'Caveat', cursive; } 

a, a:link, a:visited { text-decoration: none; } 
ul, li { list-style: none; } 
input { outline: none; background-color: transparent; } 
button { padding: 0.1em 1em; border: none; border-radius: 5px; font-size: 0.8em; background-color: #487fc7; color: #ffffee; transition: all 0.2s; font-family: inherit; } 
button:hover { box-shadow: 0 0 3px 1px var(--cCCC); cursor: pointer; } 
button:active { box-shadow: 2px 2px 3px 1px #444 inset; color: #444; } 

/* Header */
#header { width: 100%; height: 35px; } 
#headerBtnBox { width: 60%; height: 100%; margin: 0 auto; display: flex; justify-content: right; align-items: center; position: relative; }

#darkModeBtn { width: 35px; height: 35px; margin-right: 55px; padding: 0 1px; display: flex; flex-direction: column; justify-content: center; align-items: center; border-radius: 10px; box-shadow: 0 0 3px 1px var(--cCCC); }
#darkModeBtn :is(a, img) { width: 28px; height: 28px; } 
#darkModeBtn #imgDarkMode { content: var(--Moon); } 

#langBtnsCover { height: 35px; background-color: #fff; border-radius: 10px; box-shadow: 0 0 3px 1px var(--cCCC); overflow: hidden; position: absolute; top: 0; transition: height 0.3s ease-in-out; } /* 35 - 113 */
#langBtnsCover:hover { height: 113px; } 
#langBtns { padding: 0 6px; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 4px; } 
#langBtns :is(a, img) { width: 35px; height: 35px; }
#langBtns #imgLang1 { content: url("./assets/usa.png"); } 
#langBtns #imgLang2 { content: url("./assets/uka.png"); } 
#langBtns #imgLang3 { content: url("./assets/kor.png"); } 

/* top ( title ) */
#top h1 { font-size: 2em; text-decoration: underline; text-decoration-color: var(--cBlue); text-decoration-thickness: 2px; text-underline-offset: 0.4rem; } 

/* mid ( contents ) */
#mid { width: 60%; min-height: 30vh; margin: 0 auto; padding: 2rem; border-radius: 10px; box-shadow: 0 0 5px 1px var(--cCCC); } 
#mid #search { height: 13vh; display: flex; justify-content: center; align-items: center; gap: 1rem; border-bottom: 2px dashed var(--cBlue); } 
#search label { font-size: 0.8em; letter-spacing: 1px; transform: translateY(5%); } 
#search input { width: 50%; padding: 0.3rem; border: none; border-bottom: 1px solid #333; text-align: center; font-family: 'Orbit', sans-serif; font-size: 1rem; } 

#result { min-height: 20vh; letter-spacing: 1px; } 
#result p { margin: 0.5em; } 
#result li { text-align: left; padding: 3px 0; } 
#result li > span { margin-left: 1.2em; } 

@media (max-width: 420px) { 
 #root { min-width: 280px; padding: 1rem; font-size: 24px; } 
 ul, li { padding: 0; margin: 0; } 
 button { padding: 0.3em 1.2em; margin-top: 0.5em; } 

 #headerBtnBox { width: 100%; }

 #top { margin-bottom: 7vh; } 
 #top h1 { font-size: 1.5em; }

 #mid { width: 100%; padding: 2rem 1rem; } 
 #mid #search { height: 16vh; flex-direction: column; justify-content: space-evenly; gap: 0; padding-bottom: 1rem; margin-bottom: 1rem; }
 #search label { font-size: 1.1em; }
 #search input { width: 70%; }

 #result { font-size: 1.1em; }
}

body { transition: all 0.2s ease-in-out; }
body.darkmode { background: #222; color: #fffe; }
input.darkmode { color: #fffe; border-bottom: 1px solid #fffe !important; }
:is(button, #darkModeBtn, #langBtnsCover).darkmode { background: #555; color: #fffe; }